<aside class="sidebar">
  <h4>🔥 Tools & Calculators</h4>
  <ul>
    <li><a href="{{ .Site.BaseURL }}balatro/hot-tools/calculator/">Score Calculator</a></li>
    <li><a href="{{ .Site.BaseURL }}balatro/hot-tools/joker-list/">Joker Database</a></li>
    <li><a href="{{ .Site.BaseURL }}balatro/hot-tools/seed-database/">Seed Codes</a></li>
    <li><a href="{{ .Site.BaseURL }}balatro/hot-tools/best-builds/">Best Builds</a></li>
  </ul>
  <h4>🆕 Daily Updated</h4>
  <ul>
    <li><a href="{{ .Site.BaseURL }}balatro/daily-update/patch-notes/">Patch Notes</a></li>
    <li><a href="{{ .Site.BaseURL }}balatro/daily-update/known-bugs/">Known Bugs</a></li>
    <li><a href="{{ .Site.BaseURL }}balatro/daily-update/player-faq/">Player FAQ</a></li>
  </ul>
  <h4>📚 Reference</h4>
  <ul>
    <li><a href="{{ .Site.BaseURL }}balatro/static/beginner-tutorial/">Beginner Tutorial</a></li>
    <li><a href="{{ .Site.BaseURL }}balatro/static/lore-story/">Story & Lore</a></li>
  </ul>
</aside>
